.select__container {
  width: 140px;
  position: relative;
}

.select__wrapper {
  position: absolute;
  width: 140px;
}

.select {
  display: flex;
  margin: 10px 5px;
}

.select__header {
  padding: 7px 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 1rem;
  color: #3faffa;
  background: #ffffff;
  cursor: pointer;
}

.select__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  background: #ffffff;
}

.select__item {
  list-style: none;
  padding: 6px 4px;
  cursor: pointer;
  background: #ffffff;

  border-bottom: 1px solid #e5e5e5;
}

.select__item:hover {
  background: grey;
}

.select__title {
  margin: auto 10px;
}
